doctype html
html
    head
        meta(charset='UTF-8')
        title Baby Boom
        meta(name='description' content='Awesome website for babysitter')
        meta(name='another description' content='need a babysitter')
        link(rel='stylesheet' href='styles/style.css')
        script(defer='' src='scripts/greeting.js')
        block script
    body
        #Greeting
        // greeting change by time
        block content

        footer
            p &copy; 2023 My Website. All rights reserved.