extends default

block script 
  script(defer='' src='scripts/ordersClient.js')

block content
  div
    ul.buttons_logout_home
      li
        a.home_Page(href='clientPage') home page
      li
        a.log_out(href='homePage') Log Out
  #rollingMessageContainer
    #rollingMessage Baby Boom
  h1.myHeader Orders Client
  table
    thead
      tr
        th babysitter name
        th city
        th street
        th number
        th start time
        th end time
        th is approved
    tbody

