extends default

block script 
  script(defer='' src='scripts/shifts.js')
block header
  h1.myHeader Shifts
block nav 
  div
    ul.buttons_logout_home
      li
        a.home_Page(href='babysitterPage') home page
      li
        a.log_out(href='homePage') Log Out

block content
 
  table
    thead
      tr
        th city
        th start
        th end
        th
    tbody

