<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>client search</title>
  <link rel="stylesheet" href="../static/clientSearch.css">
  <script defer src="../static/clientSearch.js"></script>

</head>
<body>

<div>
  <ul>
    <li><a href="../views/client-HomePage.html" class="home_Page">Home Page</a></li>
  </ul>
</div>

<div id="rollingMessageContainer">
  <div id="rollingMessage">Baby Boom</div>
</div>

<h1 class="myHeader">search results</h1>

<div class="clientTimes-container">
  <div>
    <label class="clientTime"> start time</label>
    <input type="datetime-local" name= "start time" class= "inputTimes"> <!--will put the place holder from the form data-->
  </div>
  <div>
    <label class="clientTime">end time</label>
    <input type="datetime-local" name= "end time" class= "inputTimes"> <!--will put the place holder from the form data-->
  </div>

</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Rank</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Skills</th>
    <th>Choose</th>
  </tr>
  </thead>
  <tbody> <!--enter the body of the table-->

  </tbody>
</table>
</body>
</html>
