<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baby Boom home page</title>
    <link rel="stylesheet" href="../static/HomePage.css"> <!--create a link to the html file home page-->
    <script defer src="../static/client-HomePage.js"></script>

</head>

<body>
<!--headers-->
<div id="rollingMessageContainer">
  <div id="rollingMessage">Baby Boom</div>
</div>
<h1 class="myHeader">Home Page</h1>
<div id="options_bar">
    <ul>
        <li><a href="../views/createNewOrder.html" class="options-Button">Create New Order</a></li>
        <li><a href="../views/orders.html" class="options-Button">Orders</a></li>
    </ul>
</div>
<!--images:-->
<div class="image_container">
    <img src="../static/homepage image.jpeg" class= "image_class" alt = "playing together">
    <img src="../static/homePageImg.jpeg" class= "image_class" alt = "playing together with two kids">
</div>
</body>

</html>
