<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baby Boom</title>

    <meta  name="description" content="Awesome website for babysitter">
    <meta name="another description" content = "need a babysitter">


    <link rel="stylesheet"  href="../static/first%20page.css">  <!--link to css-->
    <script defer src="../static/first%20page.js"></script> <!--link to js-->

</head>
<body>
<div id="Greeting"></div> <!--greeting change by time-->

<h1 class="myHeader" title="project website"> Baby Boom</h1>

<p class="box"> Looking for a babysitter?<br>     <!--about us- first page-->
    Want to work as a babysitter?<br>
    GOOD!<br>
    In our website you can search and order a babysitter or sign to work as a babysitter! <br>
    How?
    <br>
    Create an account or login, <br>
    fill your details and you are ready to go!
</p>

<!--buttons:-->
<div id="options_bar">
    <ul>
        <li><a href="../views/login.html" class="options-Button">login</a></li>
        <li><a href="../views/newAccount-Client.html" class="options-Button">new- client</a></li>
        <li><a href="../views/newAccount-Babysitter.html" class="options-Button">new- babysitter</a></li>
    </ul>
</div>

</body>
</html>