<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>new account client</title>
  <link rel="stylesheet" href="../static/newAccount.css">
  <script defer src="../static/newAccount-Client.js"></script>

</head>
<body>
<div id="rollingMessageContainer">
  <div id="rollingMessage">Baby Boom</div>
</div>
<h1 class="myHeader">New Account- Client</h1>
<form action="" class="form-NewAccount"> <!--action starts a function in JS-->

  <div class="msg"></div>

  <div class="form-group">
    <label for="email"> Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email"> email">
  </div>
  <div class="form-group">
    <label for="first_name">First Name:</label>
    <input type="text" name="first name" id="first_name" placeholder="Enter your first name">
  </div>
  <div  class="form-group">
    <label for="last_name"> Last Name:</label>
    <input type="text" name="last name" id="last_name" placeholder="Enter your last name">
  </div>
  <div  class="form-group">
    <label for="date_of_birth"> Date of birth:</label>
    <input type="date" name="Date Of Birth" id="date_of_birth" placeholder="Enter your birth date">
  </div>
  <div  class="form-group">
    <label for="phone_number"> phone number:</label>
    <input type="number" name="phone Number" id="phone_number" placeholder="Enter your phone number">
  </div>
  <div  class="form-group">
    <label for="password"> Password:</label>
    <input type="password" name="password" id="password" placeholder="Enter your password">
  </div>

  <div class="button-Container">
    <input  type="submit" id="submit" value="submit" name="submit">
  </div>

</form>

<!--buttons-->
<div>
  <ul>
    <li><a href="../views/first%20page.html" class="home_Page">Back</a></li>
  </ul>
</div>

</body>
</html>