<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Orders</title>

  <link rel="stylesheet" href="../static/orders-babysitter.css">
  <script defer src="../static/orders-babysitter.js"></script>
</head>

</head>
<body>
<div id="rollingMessageContainer">
  <div id="rollingMessage">Baby Boom</div>
</div>
<div>
  <ul>
    <li><a href="../views/babysitter-HomePage.html" class="home_Page">Home Page</a></li>
  </ul>
</div>
<h1 class="myHeader">Orders-Babysitter</h1>
<p class="past_orders">past orders = </p> <!--add the amount of completed orders-->

  <table class="ordersTable">
    <thead>
    <tr>
      <th>city</th>
      <th>street</th>
      <th>apartment</th>
      <th>start</th>
      <th>end</th>
      <th>status</th>
      <th>yes/no</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>


</body>
</html>