<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>orders</title>
    <link rel="stylesheet" href="../static/orders.css">
    <script defer src="../static/orders.js"></script>

</head>
<body>
<div>
  <ul>
    <li><a href="../views/client-HomePage.html" class="home_Page">Home Page</a></li>
  </ul>
</div>
<div id="rollingMessageContainer">
  <div id="rollingMessage">Baby Boom</div>
</div>
<h1 class="myHeader">orders</h1>
<table>
    <thead>
    <tr>
        <th>city</th>
        <th>street</th>
        <th>apartment</th>
        <th>start</th>
        <th>end</th>
        <th>is approved</th>
        <th>is completed</th>
        <th>give review( 1-5)</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>