<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shifts</title>
    <link rel="stylesheet" href="../static/Shifts.css">
    <script defer src="../static/Shifts.js"></script>
</head>
<body>
<div id="rollingMessageContainer">
  <div id="rollingMessage">Baby Boom</div>
</div>
<h1 class="myHeader">Shifts</h1>
<!--buttons-->
<div>
  <ul>
    <li><a href="../views/babysitter-HomePage.html" class="home_Page">Home Page</a></li>
  </ul>
</div>
<table>
    <thead>
    <tr>
        <th>city</th>
        <th>street</th>
        <th>number</th>
        <th>start</th>
        <th>end</th>
        <th>apply change</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>